*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-color: rgb(197, 231, 243);
}

@font-face {
  font-family: "CarlaSansLight";
  src: url("../fonts/CarlaSansLight.ttf") format("truetype");
  font-style: Light;
  font-weight: Light;
}

p{
    font-family: 'CarlaSansLight';
}


.obshiy{
    margin-top: 14%;
    width: 100%;
    height: 40%;
    background-color: lightblue;
    display: block;
    position: relative;
    overflow: hidden;
}


.aktivchik {
    width: 100%; /* Изменено на 100% */
    height: 90%;
    position: relative;
    display: flex;
    margin: 1%;
    overflow: hidden;
}

.edet {
    width: 100%; /* Ширина дива равна 100% родительского контейнера */
    display: block;
    position: relative;
    animation: edu 5s linear infinite;
}

.edet:hover {
    animation-play-state: paused ;
}


@keyframes edu {
    0% { left: -50%; }
    100% { left: 100%; }
}

.my-magic{
    animation: wow 1s  infinite linear;
}


@keyframes wow{
    0%{ rotate: 0deg;}
    50%{ rotate: 50deg;}
    100%{   rotate: 0deg;}
}
.wow{
    width: 200%;
    background-color: hotpink;
    margin-left: 2px;
    padding: 3px;
}